<table>
  <thead>
    <tr>
      <th scope="rowgroup">Nombre</th>
      <th scope="row">Precio</th>
      <th scope="row">Criptomoneda</th>
      <th scope="row">Convertir</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tr-void"><td class="td-void"></td></tr>
    <tr>
      <td>Asian Coin</td>
      <td class="price">$14,00</td>
      <td class="no"><span class="dot"></span>NO</td>
      <td><span class="shuffle-arrows"><img class="img-shuffle-arrows" src="../../../assets/img/shuffle.png"></span></td>
    </tr>
    <tr class="tr-void"><td class="td-void"></td></tr>
    <tr>
      <td>Asian Coin</td>
      <td class="price">$14,00</td>
      <td class="yes"><span class="dot"></span>SI</td>
      <td><span class="shuffle-arrows"><img class="img-shuffle-arrows" src="../../../assets/img/shuffle.png"></span></td>
    </tr>
  </tbody>
</table>
