<table>
  <thead>
    <tr>
      <th scope="rowgroup">Nombre</th>
      <th scope="row">Precio</th>
      <th scope="row">Criptomoneda</th>
      <th scope="row">Convertir</th>
    </tr>
  </thead>
  <tbody *ngFor="let price of prices | slice:initial:final; let i=index" #tbodyPrices>
    <tr class="tr-void"><td class="td-void"></td></tr>
    <tr>
      <td>{{price.name}}</td>
      <td class="price">$ {{price.price}}</td>
      <td [ngClass]="price.crypto == 1 ? 'yes' : 'no'"><span class="dot"></span>{{price.crypto == 1 ? 'SI' : 'NO'}}</td>
      <td><span class="shuffle-arrows"><img class="img-shuffle-arrows" src="../../../assets/img/shuffle.png"></span></td>
    </tr>
  </tbody>
</table>
