@import "abstracts/variables";

*{
  font-family: Helvetica, Arial;
}

.body-container{
  background: $white;
  width: 86%;
  height: 87%;
  border: 1px solid $light_gray;
  margin-left: 7%;
  margin-top: 5%;
  z-index: 1;
  padding-bottom: 40vh;
}

.main-container{
  width: 74%;
  margin-left: 12%;
  background: $white;
  overflow: auto;
  z-index: 0;
}

footer{
  position: relative;
  margin-top: -20vh;
  bottom: 0;
  z-index: 1;
  background-image: url("../assets/img/footer.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 75vh;
  width: 100%;
}

body{
  background: $light_purple;
}
