@import "abstracts/variables";

*{
  font-family: Helvetica, Arial;
}

.body-container{
  background: $white;
  width: 86%;
  height: 87%;
  border: 1px solid $light_gray;
  margin-left: 7%;
  margin-top: 5%;
  z-index: 1;
  padding-bottom: 25vh;
}

.main-container{
  width: 75%;
  margin-left: 12.5%;
  overflow: auto;
  z-index: 0;
  background-color: $white;
  background-image: url("../assets/img/footer.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

footer{
}

body{
  background: $light_purple;
}
