<div class="container-exchange">
  <h1>Realizar cambio</h1>
  <h2>Selecione las monedas</h2>
  <form>
    <div class="form-input">
      <label for="amount-cryptocurrency">$</label>
      <input id="amount-cryptocurrency" type="number">
    </div>
    <div class="form-input">
      <span class="arrow"><img class="manImg" src="./src/assets/img/down-arrow.png"></span>
      <select name="" id="type-cryptocurrency">
        <option value="BTC">BTC</option>
      </select>
    </div>
    <div class="form-input">
      <span class="arrow"><img class="manImg" src="./src/assets/img/down-arrow.png"></span>
      <select name="" id="type-currency">
        <option value="USD">USD</option>
      </select>
    </div>
    <div class="form-input">
      <label for="amount-currency">$</label>
      <input id="amount-currency"  type="number">
    </div>
  </form>
</div>
